
* {
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  @font-face {
    font-family: 'Ubuntu-regular',sans-serif;
    src: url(../fonts/Ubuntu-Regular.ttf);
  }
.wrapper_mobie{
    max-width: 425px;
    width: 100%;
    margin: 0 auto;
    // padding: 0 20px;
}
@keyframes showIcon {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.content{
    margin-top: 20px;
    .title{
        text-align: center;
        margin: 0 auto;
        display: block;
        margin-bottom: 15px;
        a{
            text-decoration: none;
            font-family: 'Ubuntu-regular',sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            text-transform: uppercase;
            color: #008B8A;
        }
    }

    .search_panel{
        position: relative;
        border-top: 1px solid #BCBCBC;
        border-bottom: 1px solid #BCBCBC;
        &::before{
            content: '';
            display: block;
            background:url(../img/search_icon.svg) center no-repeat;
            width: 23px;
            height: 23px;
            position: absolute;
            z-index: 5;
            background-size: contain;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
        }
        form{
            padding: 0 20px;
            input{
                font-family: 'Ubuntu-regular',sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                color: #C2C2C2;
                width: 100%;
                outline: none;
                position: relative;
                padding: 20px 30px;
                border:none;
            }
        }
    }
    .nav_bar_modile{

        nav{
            ul{

               

                li{
                    list-style-type: none;
                    border-top:1px solid #C4C4C4; 
                    &:first-child{
                        border-top: none;
                    }

                    a{
                        font-family: 'Ubuntu-regular',sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 21px;
                        color: #333333;
                        display: flex;
                        align-items: center;
                        gap: 24px;
                        position: relative;
                        padding: 20px 20px;
                        &::after{
                            content: '';
                            display: block;
                            width: 11.9px;
                            height: 11.9px;
                            background:url(../img/arrow_right.png) center no-repeat;
                            position: absolute;
                            left: 95%;
                            background-size: contain;
                        }
                    }
                }
            }
        }
    }
}

// inner

.content_inner{

    .title{
         
        a{
            display: flex;
            align-items: center;
            padding: 0 20px;
            gap: 109px;
            &::before{
                content: '';
                display: block;
                background:url(../img/arrrow_left.png) center no-repeat;
                width: 12px;
                height: 24px;
                background-size: contain;
            }
        }
    }

    .nav_bar_modile{
        .top_menu{
            nav{
                ul{

                    li{

                        a{
                            &::after{
                                display: none;
                            }
                            &::before{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .inner_sub_menu{
        li{
            a{
                display: flex;
                justify-content: space-between;
                align-items: center;
                &:before{
                    display: none !important;
                }
                &::after{
                    display: none!important;
                }
                span{
                    width: 15px;
                    height: 3px;
                    background:#008B8A;
                }
            }
        }
    }
    .title_section{
        background: #EFEFEF;
        padding: 15px 0;
        span{
            font-family: 'Ubuntu-regular',sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            color: #C2C2C2;
            padding-left: 20px;
        }
    }
    .accardion_section{
        display: flex;
        flex-direction: column;
        .item{

            .title{
                font-family: 'Ubuntu-regular',sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                color: #333333;
                text-align: left;
                padding: 28px 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                span{
                    display: block;
                    width: 15px;
                    height: 3px;
                    background-color: #008B8A;
                    position: relative;

                    &::before{
                        content: '';
                        width: 3px;
                        height: 15px;
                        background-color: #008B8A;
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
                }
            }

            .content_item{
                background: #F0F0F0;
                display: none;
                .title{
                    font-family: 'Ubuntu-regular',sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 28px;
                    color: #333333;
                    padding:38px 20px 13px 20px;
                }

                .date{
                    font-family: 'Ubuntu-regular',sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 14px;
                    color: #BDBDBD;
                    padding: 0 20px 22px 20px;
                }

                .text_content{
                    padding: 0 20px 20px 20px;
                    font-family: 'Ubuntu-regular',sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 21px;
                    color: #000000;
                }
                .share{
                    padding: 0 20px 20px 20px;
                     a{
                         display: flex;
                         align-items: center;
                         gap: 23px;
                         font-family: 'Ubuntu-regular',sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 21px;
                        color: #209998;
                     }
                }
            }
            .line{
                width: 100%;
                height: 1px ;
                background:#C4C4C4;
            }

            .footer_item{
                padding: 20px 20px;
                .title{
                    font-family: 'Ubuntu-regular',sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 14px;
                    color: #B6B6B6;
                    margin-bottom: 3px;
                    padding: 0;
                }
                .sub_title{
                    font-family: 'Ubuntu-regular',sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: #000000;
                    margin-bottom: 28px;
                }
                .btns{
                    display: flex;
                    gap: 20px;

                    a{
                        font-family: 'Ubuntu-regular',sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 21px;
                        color: #209998;
                        display: block;
                        padding: 10px 56px;
                        border: 1px solid #008B8A;
                        box-sizing: border-box;
                        border-radius: 3px;
                    }
                }
            }
        }
        .active{
            .content_item{
                display: block;
            }
            .title{
                span{
                    &::before{
                        display: none;

                    }
                }
            }
        }
    }

    .nav_bar_modile_inner{
        nav{
            ul{

                li{
                    &:first-child{
                        a{
                            &::before{
                                display: none;
                            }
                        }
                    }

                    a{  
                        &::before{
                            content: '';
                            display: block;
                            background:url(../img/circle.svg) center no-repeat;
                            width: 20px;
                            height: 20px;
                            background-size: contain;
                        }
                       
                    }
                    .sub_menu{
                        background: rgba(182, 182, 182, 0.2);
                        display: none;
                        li{
                            a{
                                &::before{
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .active{
                    .sub_menu{
                        display: block;
                    }
                }
            }
        }
    }
    .video_inner{
        background:transparent !important;
        .video{
            position: relative;
            .play_icon{
                background: url(../img/play_icon.png) center no-repeat ;
                width: 90px;
                height: 88px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                background-size: contain;
                z-index: 20;
            }
            .playing{
                background:url(../img/pause.png) center no-repeat;
                background-size: contain;
                width: 90px;
                height: 88px;
                animation: showIcon 1s;
                opacity: 0;
                &:hover{
                    opacity: 1;
                }
            }
        }
        .content_text{
            .title{
                padding: 20px 20px 20px 20px !important;
                margin-bottom: 0;
            }
        }
    }
}

