* {
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Ubuntu-regular',sans-serif;
  src: url(../fonts/Ubuntu-Regular.ttf);
}

.wrapper_mobie {
  max-width: 425px;
  width: 100%;
  margin: 0 auto;
}

@-webkit-keyframes showIcon {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes showIcon {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.content {
  margin-top: 20px;
}

.content .title {
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
}

.content .title a {
  text-decoration: none;
  font-family: 'Ubuntu-regular',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #008B8A;
}

.content .search_panel {
  position: relative;
  border-top: 1px solid #BCBCBC;
  border-bottom: 1px solid #BCBCBC;
}

.content .search_panel::before {
  content: '';
  display: block;
  background: url(../img/search_icon.svg) center no-repeat;
  width: 23px;
  height: 23px;
  position: absolute;
  z-index: 5;
  background-size: contain;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
}

.content .search_panel form {
  padding: 0 20px;
}

.content .search_panel form input {
  font-family: 'Ubuntu-regular',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #C2C2C2;
  width: 100%;
  outline: none;
  position: relative;
  padding: 20px 30px;
  border: none;
}

.content .nav_bar_modile nav ul li {
  list-style-type: none;
  border-top: 1px solid #C4C4C4;
}

.content .nav_bar_modile nav ul li:first-child {
  border-top: none;
}

.content .nav_bar_modile nav ul li a {
  font-family: 'Ubuntu-regular',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  position: relative;
  padding: 20px 20px;
}

.content .nav_bar_modile nav ul li a::after {
  content: '';
  display: block;
  width: 11.9px;
  height: 11.9px;
  background: url(../img/arrow_right.png) center no-repeat;
  position: absolute;
  left: 95%;
  background-size: contain;
}

.content_inner .title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  gap: 109px;
}

.content_inner .title a::before {
  content: '';
  display: block;
  background: url(../img/arrrow_left.png) center no-repeat;
  width: 12px;
  height: 24px;
  background-size: contain;
}

.content_inner .nav_bar_modile .top_menu nav ul li a::after {
  display: none;
}

.content_inner .title_section {
  background: #EFEFEF;
  padding: 15px 0;
}

.content_inner .title_section span {
  font-family: 'Ubuntu-regular',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #C2C2C2;
  padding-left: 20px;
}

.content_inner .accardion_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content_inner .accardion_section .item .title {
  font-family: 'Ubuntu-regular',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: left;
  padding: 28px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content_inner .accardion_section .item .title span {
  display: block;
  width: 15px;
  height: 3px;
  background-color: #008B8A;
  position: relative;
}

.content_inner .accardion_section .item .title span::before {
  content: '';
  width: 3px;
  height: 15px;
  background-color: #008B8A;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content_inner .accardion_section .item .content_item {
  background: #F0F0F0;
  display: none;
}

.content_inner .accardion_section .item .content_item .title {
  font-family: 'Ubuntu-regular',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
  padding: 38px 20px 13px 20px;
}

.content_inner .accardion_section .item .content_item .date {
  font-family: 'Ubuntu-regular',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #BDBDBD;
  padding: 0 20px 22px 20px;
}

.content_inner .accardion_section .item .content_item .text_content {
  padding: 0 20px 20px 20px;
  font-family: 'Ubuntu-regular',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.content_inner .accardion_section .item .content_item .share {
  padding: 0 20px 20px 20px;
}

.content_inner .accardion_section .item .content_item .share a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px;
  font-family: 'Ubuntu-regular',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #209998;
}

.content_inner .accardion_section .item .line {
  width: 100%;
  height: 1px;
  background: #C4C4C4;
}

.content_inner .accardion_section .item .footer_item {
  padding: 20px 20px;
}

.content_inner .accardion_section .item .footer_item .title {
  font-family: 'Ubuntu-regular',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #B6B6B6;
  margin-bottom: 3px;
  padding: 0;
}

.content_inner .accardion_section .item .footer_item .sub_title {
  font-family: 'Ubuntu-regular',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 28px;
}

.content_inner .accardion_section .item .footer_item .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.content_inner .accardion_section .item .footer_item .btns a {
  font-family: 'Ubuntu-regular',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #209998;
  display: block;
  padding: 10px 56px;
  border: 1px solid #008B8A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
}

.content_inner .accardion_section .active .content_item {
  display: block;
}

.content_inner .nav_bar_modile_inner nav ul li:first-child a::before {
  display: none;
}

.content_inner .nav_bar_modile_inner nav ul li a::before {
  content: '';
  display: block;
  background: url(../img/circle.svg) center no-repeat;
  width: 20px;
  height: 20px;
  background-size: contain;
}

.content_inner .nav_bar_modile_inner nav ul li .sub_menu {
  background: rgba(182, 182, 182, 0.2);
  display: none;
}

.content_inner .nav_bar_modile_inner nav ul li .sub_menu li a::before {
  display: none;
}

.content_inner .nav_bar_modile_inner nav ul .active .sub_menu {
  display: block;
}

.content_inner .video_inner {
  background: transparent !important;
}

.content_inner .video_inner .video {
  position: relative;
}

.content_inner .video_inner .video .play_icon {
  background: url(../img/play_icon.png) center no-repeat;
  width: 90px;
  height: 88px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-size: contain;
  z-index: 20;
}

.content_inner .video_inner .video .playing {
  background: url(../img/pause.png) center no-repeat;
  background-size: contain;
  width: 90px;
  height: 88px;
  -webkit-animation: showIcon 1s;
          animation: showIcon 1s;
  opacity: 0;
}

.content_inner .video_inner .video .playing:hover {
  opacity: 1;
}

.content_inner .video_inner .content_text .title {
  padding: 20px 20px 20px 20px !important;
  margin-bottom: 0;
}
/*# sourceMappingURL=mobile.css.map */